<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>game play</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/game.css')}}">
</head>
<body>
    <h4> Please choose all Option, {{name}}!, <h5>{{c}}</h5></h4>

    <br>
    <br>
    

    <form action="/result" method="POST">

    <h4>Click the correct option</h4>
    

    <div>

        <label for="capital">What is the capital of nigeria?</label>

        <br>

        <div>
            <label for="A">Abuja</label>
            <input type="radio" id="A" name="Abuja" value="Abuja">

            <label for="B">Nairobi</label>
            <input type="radio" id="b" name="Abuja" value="Nairobi">

            <label for="C">Accra</label>
            <input type="radio" id="C" name="Abuja" value="Accra">

            
        </div>
    </div>

    <br>
    <br>

    <div>

        <label for="capital">What is the capital of Kenya?</label>

        <br>

        <div>
            <label for="A">Pretoria</label>
            <input type="radio" id="A" name="Nairobi" value="Pretoria">

            <label for="B">Nairobi</label>
            <input type="radio" id="b" name="Nairobi" value="Nairobi">

            <label for="C">Accra</label>
            <input type="radio" id="C" name="Nairobi" value="Accra">

            
        </div>
    </div>

    <br>
    <br>

    <div>

        <label for="capital">What is the capital of Ghana?</label>

        <br>

        <div>
            <label for="A">Pretoria</label>
            <input type="radio" id="A" name="Accra" value="Pretoria">

            <label for="B">Yaoundé</label>
            <input type="radio" id="b" name="Accra" value="Yaoundé">

            <label for="C">Accra</label>
            <input type="radio" id="C" name="Accra" value="Accra">

            
        </div>
    </div>

    <br>
    <br>

    <div>

        <label for="capital">What is the capital of South Africa?</label>

        <br>

        <div>
            <label for="A">Pretoria</label>
            <input type="radio" id="A" name="Pretoria" value="Pretoria">

            <label for="B">Yaoundé</label>
            <input type="radio" id="b" name="Pretoria" value="Yaoundé">

            <label for="C">Cairo</label>
            <input type="radio" id="C" name="Pretoria" value="Cairo">

            
        </div>
    </div>

    <br>
    <br>

    <div>

        <label for="capital">What is the capital of Camerron?</label>

        <br>

        <div>
            <label for="A">Tunis</label>
            <input type="radio" id="A" name="Yaoundé" value="Tunis">

            <label for="B">Yaoundé</label>
            <input type="radio" id="b" name="Yaoundé" value="Yaoundé">

            <label for="C">Cairo</label>
            <input type="radio" id="C" name="Yaoundé" value="Cairo">

            
        </div>
    </div>

    <br>
    <br>

    <div>

        <label for="capital">What is the capital of Eygpt?</label>

        <br>

        <div>
            <label for="A">Tunis</label>
            <input type="radio" id="A" name="Cairo" value="Tunis">

            <label for="B">Algiers</label>
            <input type="radio" id="b" name="Cairo" value="Algiers">

            <label for="C">Cairo</label>
            <input type="radio" id="C" name="Cairo" value="Cairo">

            
        </div>
    </div>

    <br>
    <br>

    <div>

        <label for="capital">What is the capital of Tunisa?</label>

        <br>

        <div>
            <label for="A">Tunis</label>
            <input type="radio" id="A" name="Tunis" value="Tunis">

            <label for="B">Algiers</label>
            <input type="radio" id="b" name="Tunis" value="Algiers">

            <label for="C">Cairo</label>
            <input type="radio" id="C" name="Tunis" value="Cairo">

            
        </div>
    </div>

    <br>
    <br>

    <div>

        <label for="capital">What is the capital of Algeria?</label>

        <br>

        <div>
            <label for="A">Tunis</label>
            <input type="radio" id="A" name="Algiers" value="Tunis">

            <label for="B">Algiers</label>
            <input type="radio" id="b" name="Algiers" value="Algiers">

            <label for="C">Cairo</label>
            <input type="radio" id="C" name="Algiers" value="Cairo">

            
        </div>
    </div>

    <br>
    <br>

    <div>
        <input type="reset">
      </div>

      <br>
      <br>
      
      <div>
        <input type="submit">
      </div>

    </form>



</body>
</html>

