body {
    background-image: linear-gradient(to right, #c95be5, #863e42);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
  }

  h4 {
    text-shadow: 1px 1px #333;
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  h1{
    text-shadow: 1.5px 1.5px rgb(241, 7, 7);
    font-size: 4rem;
    margin-top: -10rem;

  }

  img{
    margin-left: 4rem;
    height: 100px;
    width: 180px;
  }


  input[type="text"], input[type="reset"], input[type="submit"]{
        cursor: pointer;
  }